/*!
 * Plugin: LOOPIS Config
 * Description: Custom WP-admin styles
 */

.h1-right {
  float: right;
  color: #50575e;
  font-size: 13px;
}


/* Kills button flashing
*/
#run_preinstaller,
#run_plupdate,
#run_loopis_config_installation,
#run_loopis_config_update {
    visibility: hidden;
}